REACT_APP_API_URL=http://localhost:8081
REACT_APP_AUTH0_DOMAIN=dev-upgx8ncyk5imxh0b.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=vu6QU9Rx2C3yoNJYkAF9EETAY9Ltm2tl
REACT_APP_AUTH0_REDIRECT_URI=https://127.0.0.1:3000/viewproducts
